body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(120deg, #1b8f3a, #ffffff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    text-align: center;
}

.title {
    color: #1b8f3a;
    font-size: 32px;
    margin-bottom: 5px;
}

.subtitle {
    color: #555;
    margin-bottom: 25px;
}

.login-box {
    background: white;
    padding: 25px;
    width: 320px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    text-align: left;
}

.login-box h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #1b8f3a;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #f2c94c; /* yellow */
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #e0b93c;
}

/* KIIT Logo */
.kiit-logo {
    position: absolute;
    top: 15px;
    right: 20px;
    width: 80px;
}

/* Bus Animation */
.bus-animation {
    position: absolute;
    top: 20px;
    right: -150px;
    width: 120px;
    animation: moveBus 10s linear infinite;
}

/* Bus moving from right to left */
@keyframes moveBus {
    0% {
        right: -150px;
    }
    100% {
        right: 110%;
    }
}

/* navigation component*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(to bottom right, #2ecc71, #1e8449);
  min-height: 100vh;
}

/* Main Layout */
.main-container {
  display: flex;
  height: 100vh;
  padding: 40px;
  gap: 40px;
}

/* LEFT SIDE MAP */
.map-container {
  flex: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

#map {
  width: 100%;
  height: 90%;
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}

/* RIGHT SIDE INFO */
.info-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Info Card */
.dashboard-card {
  width: 100%;
  max-width: 400px;
  background: #f4f4f4;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

.dashboard-card h2 {
  text-align: center;
  color: #1e8449;
  margin-bottom: 25px;
  font-size: 26px;
}

/* Info Rows */
.info-row {
  display: flex;
  justify-content: space-between;
  padding: 12px 15px;
  margin: 12px 0;
  background: white;
  border-radius: 10px;
  font-weight: bold;
}

.info-row label {
  color: #333;
}

.info-row span {
  color: #1e8449;
}
